s
.header {
  padding: 4px 12px;
  border-radius: 18px;
}

.banner {
  background-color: #72afdd;
  padding: 40px 12px;
  border-radius: 23px;
  text-align: center;
  font-weight: bold;
  font-size: 70px;
}

.container{
  display: inline-block;
  align-self: center;
}

.container{
  align-self: center;
}

.imgSize{
  width: 350px;
  height: 200px;
}

.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  background-color: lightpink;
  padding: 32px;
}

.cookbookList {
  max-width: 100%;
  overflow: auto;
}

.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  background-color: lightpink;
  padding: 32px;
}

.cookbookPage {
  padding: 40px 10px;
  max-width: 1140px;
  margin: auto;
}

.cookbookNameHeader {
  text-align: center;
  background-color: #96658d;
  padding: 4px 12px;
  border-radius: 8px;
}


